<section class=" p-7 rounded-lg mt-24" id="app">
  <div class="container">
    <div class="flex flex-row items-center lg:items-start justify-between gap-14">
      <div>
        <div class="flex flex-col items-center justify-center mb-2">
            <h1 class="text-meteor-400 text-2xl font-bold font-mono">Slam Stats</h1>
            <hr class="border-meteor-400 w-1/6 border-2">
        </div>
        <p class="text-meteor-100">
          Soy Visenct, el creador apasionado detrás de Slam Stats. Desde mi
          amor por el juego nació esta app, diseñada para llevar las
          estadísticas de baloncesto al siguiente nivel. Como entusiasta del
          baloncesto, comprendo la importancia de datos precisos y accesibles.
          Slam Stats es mi contribución para que todos puedan disfrutar y
          analizar el juego de una manera divertida y sencilla. Únete a la
          comunidad Slam Stats y descubre el poder de las estadísticas en cada
          salto, cada tiro y cada slam dunk. ¡Vamos más allá de las canchas y
          exploremos el emocionante mundo de los números en el baloncesto!
          ¡Encestemos juntos!
        </p>
      </div>
      <img src="/app.png" alt="Imagen de la app" class="w-2/6 rounded-lg md:block hidden" />
    </div>
  </div>
</section>
