
<section id="empresa" class="bg-200">
  <div class="container mx-auto mt-24">
    <div class="flex flex-col items-center justify-center">
      <div class="text-center mb-8 animate__animated animate__fadeInUp">
        <div class="flex flex-col items-center justify-center mb-2 gap-2">
          <h1 class="text-meteor-400 font-mono md:text-4xl font-bold text-2xl">
            Empresa
          </h1>
          <hr class="border-meteor-400 w-1/12 border-2" />
        </div>
        <p class="text-xl text-meteor-100">Descubre más sobre la empresa</p>
        <p class=" mt-4">
          En inside software , nos dedicamos a llevar a cabo proyectos
          innovadores que impactan positivamente en la sociedad. Con un equipo
          apasionado y comprometido, hemos completado exitosamente una variedad
          de proyectos, desde soluciones tecnológicas hasta iniciativas
          comunitarias. ¡Nos enorgullece compartir nuestro trabajo y continuar
          creciendo para alcanzar nuevas alturas! <a
            href="#sopporte"
            class="font-bold text-meteor-200 hover:text-meteor-400 transition duration-300 ease-in-out transform hover:scale-105 focus:outline-none focus:underline"
          >
            Contáctanos
          </a>
           Contáctanos para conocer más sobre lo que hacemos y cómo podemos
          colaborar contigo.
        </p>
      </div>
      <img
        src="/empresa.jpg"
        alt="foto de la empresa"
        class="md:w-2/5 w-2/3 rounded-lg shadow-lg"
      />
    </div>
  </div>
</section>

