
<section id="empresa" class="bg-200">
  <div class="container mx-auto mt-24">
    <div class="flex flex-col items-center justify-center">
      <div class="text-center mb-8 animate__animated animate__fadeInUp">
        <div class="flex flex-col items-center justify-center mb-2 gap-2">
          <h1 class="text-meteor-400 font-mono md:text-4xl font-bold text-2xl">
            Ubicacion
          </h1>
          <hr class="border-meteor-400 w-3/12 border-2" />
        </div>
        <p class="text-xl text-meteor-100">Descubre más sobre la Ubicacion</p>
        <p class="mt-4">
          Avanida Maisonave
        </p>
      </div>
      <img
        src="/Ubicacion.jpg"
        alt="foto de la empresa"
        class="md:w-2/5 w-2/3 rounded-lg shadow-lg"
      />
    </div>
  </div>
</section>
